Source: libdri2
Priority: optional
Maintainer: SooChan Lim <sc1.lim@samsung.com>, Kristian Høgsberg <krh@redhat.com>
Uploaders: SooChan Lim <sc1.lim@samsung.com>, Sung-Jin Park <sj76.park@samsung.com>
Build-Depends: x11proto-dri2-dev, libx11-dev, libxext-dev, libxfixes-dev, debhelper (>= 5)
Standards-Version: 3.7.2
Section: x11

Package: libdri2-dev
Section: libdevel
Architecture: any
Depends: libdri2 (= ${binary:Version}), libxfixes-dev
Description: DRI2 Extension client library (development files)

Package: libdri2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libxfixes3
Description: DRI2 Extension client library

Package: libdri2-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdri2 (=${Source-Version})
Description: Debug package of libdri2

